.div-create-post {
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */
  width: 70%;
  height: 100vh;
}

.add-image-post {
  width: 95%;
}

#id-foto-post {
  display: none;
}

.add-image-post label {
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
  width: 22%;
  font-size: .9rem;
  display: flex;
  align-items: center;
}

.add-image-post label p {
  margin-left: 3%;
}
