.sidebar{
    margin: 0;
    padding: 0;
    width: 15%;
    background-color: #ff6900;
    height: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0  rgba(0, 0, 0, 0.19);
}

.container {
    display: flex;
}

.sidebar h4 {
    color: #fff;
    margin-bottom: 15%; 
}

.sidebar > a, .sidebar button{
    display: block;
    color: #eee;
    padding: 16px;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: ease-in-out .3s;
}

.sidebar > a svg, .sidebar button svg{
    margin-right: .5em;
}

.sidebar > a:hover, .sidebar button:hover {
    background-color: #d85600;
    color: #FFF;
}

/*.Avatar-img{

    background: #ff6900;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }*/



.Avatar-img img{
    padding: 10%;
    width: 60%;
    border-radius: 50%
}


.logo-lobtec {
    width: 60%;
    margin: 15% auto;
    background-color: #fff;
    padding: 6% 10%;
    border-radius: 5px;
}