.sidebar{
    margin: 0;
    padding: 0;
    width: 15%;
    background-color: #ff6900;
    height: 100%;
    /*overflow: auto;*/
    border-bottom-right-radius: 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0  rgba(0, 0, 0, 0.19);
    
}

.container {
    display: flex;
}

.sidebar h3{
    color: #FFF;
    margin-bottom: 10px;

}

.sidebar a, .sidebar button{
    display: block;
    color: rgba(255, 255, 255, 0.7);
    padding: 16px;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: ease-in-out .3s;
}

.sidebar a svg, .sidebar button svg{
    margin-right: .5em;
}

.sidebar a:hover, .sidebar button:hover {
    background-color: #d85600;
    color: #FFF;
}

/*.Avatar-img{

    background: #ff6900;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }*/



.Avatar-img img{
    padding: 10%;
    width: 60%;
}