
/* .Cadcontainer-center{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #121212;
  }
   */
  .Cadlogin{
    background: #ff6900;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .Cadlogin-area{
    display: flex;
    justify-content: center;
    background-color: #ff6900;
    width: 50%;
  }
  
  .Cadlogin-area img{
    padding: 20px;
    width: 10000px;
    height: 500px;
  }
  
  Cadform{
    margin-top: 1.5em;
    width: 90%;
    display: flex;
    flex-direction: column;
  }
  
  Cadform h1{
    text-align: center;
    margin-bottom: 0.5em;
    color: #ff6900;
  }
  
  Cad.login input{
    margin-bottom: 15px;
    height: 35px;
    border:0;
    border-radius: 7px;
    padding: 10px;
    font-size: 15px;
    background-color: #FFF;
  }
  
  Cadform button{
    height: 35px;
    border:0;
    border-radius: 7px;
    background-color: #181c2e;
    color: #FFF;
    font-size: 1.3em;
  }
  
  .login a{
    margin: 1.5em 0;
    color: #000;
    cursor: pointer;
  }
  
  
  