.perfil-container {
  display: flex;
  flex-direction: column;
}

.perfil-first {
  width: 83%;
  padding: 20px;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
}

.perfil-info {
  height: auto;
  margin-left: 0.3%;
  width: 98%;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.perfil-info h3,
.perfil-info p {
  margin-top: -10px;
  padding: 10px;
  margin-left: 8px;

}
.perfil-info-avt img
{
  display: flex;
  height: 20%;
  width: 20%;


}

.perfil-list {
  background-color: #fff;
  height: auto;
  margin-left: 0.3%;
  width: 98%;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  overflow-y: auto;
}

.seguidores {
  margin-left: 15px;
  font-size: 17px;
}

.perfil-list ul {
  margin-left: -18px;
  list-style: none;
  display: flex;
  flex-direction: row;
}

.perfil-list ul li {
  margin-right: 20px;
}

.perfil-followed {
  align-items: center;
  cursor: pointer;
}

.perfil-followed img {
  width: 60px;
  height: 60px;
}

.perfil-posts {
  background-color: #fff;
  width: 100%;
  height: 90%;
  margin: 4% auto;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}

.perfilperson-followed, .group-user {
  display: flex;
  width: 100%
}

.perfilperson-followed a, .group-user a {
  width: 100%;
  color: #727272;
  font-weight: bold;
  text-decoration: none;
  align-items: center;
  display: flex;
  transition: ease-in-out .1s;
  border-radius: 10px;
}

.perfilperson-followed a:hover, .group-user a:hover {
  color: #670067;
  background-color: #eee;
}

.perfilperson-followed a p, .group-user a p {
  font-size: .8rem;
}

.perfilimg-user{
  min-width: 40px;
  max-width: 40px;
  max-height: 40px;;
  min-height: 40px;
  border-radius: 50%;
  font-size: 14px;
}