/* .content{
    display: grid;
    text-align: center;
    height: 100vh;
    width: 100%;
    grid-template-areas: 
    "content1 content2 content2" 
    "content1 content3 content3" 
    "content1 content4 content4"
    "content1 content5 content5";
    grid-template-rows: auto 150px 150px 150px;
    grid-template-columns: 250px auto 200px;
}

.content1{
    background-color: blanchedalmond;
    grid-area: content1;
}

.content1 img{
    margin-top: 40px;
    width: 200px;
    height: 200px;
}

.content1 h2{
    font-size: 20px;
}

.content2{
    display: flex;
    background-color: cadetblue;
    grid-area: content2;
}

.content3{
    grid-area: content3;
    justify-content: space-around;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 10px;
    border-radius: 10px;
}

.content3 ul li{
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.content3 img{
    height: 80px;
    width: 80px
}

.card{
    overflow: hidden;
    border-radius: 5px;
    display: flex;
}

.card-body h2{
    font-size: 15px;
}

.content4{
    background-color: beige;
    grid-area: content4;
}

.content5{
    grid-area: content5;
} */