.group-container {
    display: flex;
    flex-direction: column;
}

.group-first {
    width: 83%;
    padding: 20px;
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
}

.group-info {
    height: auto;
    margin-left: 0.3%;
    width: 98%;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.group-info h3,
.group-info p {
    margin-top: -10px;
    padding: 10px;
    margin-left: 8px;

}

.group-list {
    background-color: #fff;
    height: auto;
    margin-left: 0.3%;
    width: 98%;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    overflow-y: auto;
}

.seguidores {
    margin-left: 15px;
    font-size: 17px;
}

.group-list ul {
    margin-left: -18px;
    list-style: none;
    display: flex;
    flex-direction: row;
}

.group-list ul li {
    margin-right: 20px;
}

.add-user{
    display: flex;
    align-items: center;
}

.remove-user{
    display: flex;
    margin-top: -6px;
    align-items: center;
}

.add-user button {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding-inline: 7.5px;
    background-color: rgb(187, 186, 186);
    border-radius: 20px;
    margin-bottom: 5px;
}

.remove-user button {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding-inline: 10px;
    background-color: rgb(187, 186, 186);
    border-radius: 20px;
}

.add-content{
    display: flex;
    height: 55px;
    margin-left: 5px;
    flex-direction: column;
    justify-content: center;
    width: 0;
    overflow: hidden;
    transition: width ease 0.3s;
}

.add-content.show{ 
    width: 180px
}

.add-content button{
    background-color: #ff6900;
    border-radius: 0px 0px 6px 6px;
    color: #fff;
}

.add-content input{
    border-radius: 6px 6px 0 0;
    border: 2px solid #ff6900;
}


.add-user p, .remove-user p{
    font-weight: bold;
    color: #fff;
}

.group-followed {
    align-items: center;
    cursor: pointer;
}

.group-followed img {
    width: 60px;
    height: 60px;
}

.group-posts {
    background-color: #fff;
    width: 83%;
    height: 90%;
    margin: 4% auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}