.admin-page{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    background-color: rgb(87, 87, 87);
    height: 12%;
    align-items: center;
    margin-top: -10px;
}

.nav-bar h1{
    margin-left: 10px;
}

.nav-bar img{
    width: 140px;
    height: 140px;
    object-fit: contain;
    margin-right: 20px;
}

.crud{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    margin-top: 5.5%;
    flex-direction: column;
    box-shadow: 4px 0px 8px 0px rgba(0, 0, 0, 0.2);
    padding-bottom: 12px;
}

.crud h4{
    margin-left: 10px;
    margin: 10px;
}

.toggle{
    padding: 12px;
    padding-inline: 29px;
    background-color: rgb(28, 70, 236);
    color: white;
    border-radius: 8px 8px 0 0;
    margin-top: 5px;
    margin-left: 10px;
    cursor: pointer;
    box-shadow: 4px 0px 8px 0px rgba(0, 0, 0, 0.2);
}

.content{
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 0px 8px 8px 8px;
    height: 0px;
    overflow: hidden;
    transition: height ease 0.3s
}

.content.show{
    height: 182px
}

.admin-form input{
    padding: 6px;
    margin:4px;
    margin-top: 10px;
    margin-left: 24px;
    width: 28%;
}

.admin-bool{
    margin-left: 24px;
    font-size: 14px;
}

.admin-bool input{
    margin-left: 5px;
    cursor: pointer;
}

.form-button{
    background-color: rgb(28, 70, 236);
    margin-left:24px;
    margin-top: 5px;
    padding: 10px;
    padding-inline: 16px;
    color: white;
    cursor: pointer;
    border-radius: 6px;
}

.toggle-update{
    padding: 12px;
    padding-inline: 18px;
    background-color: rgb(231, 150, 0);
    color: white;
    border-radius: 8px 8px 0 0;
    margin-left: 10px;
    margin-top: 5px;
    cursor: pointer;
    box-shadow: 4px 0px 8px 0px rgba(0, 0, 0, 0.2);
}

.update{
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 0px 8px 8px 8px;
    height: 0px;
    overflow: hidden;
    transition: height ease 0.3s
}

.update.show{
    height: 265px
}

.update-form input{
    padding: 6px;
    margin:4px;
    margin-top: 10px;
    margin-left: 24px;
    width: 45%;
}

.update-bool{
    margin-left: 24px;
    font-size: 14px;
}

.update-bool input{
    margin-left: 110px;
    cursor: pointer;
}

.update-button{
    background-color: rgb(231, 150, 0);;
    margin-left:24px;
    margin-top: 10px;
    padding: 10px;
    padding-inline: 16px;
    color: white;
    cursor: pointer;
    border-radius: 6px;
}

.toggle-delete{
    padding: 12px;
    padding-inline: 23px;
    background-color: rgb(218, 11, 11);
    color: white;
    border-radius: 8px 8px 0 0;
    margin-top: 5px;
    margin-left: 10px;
    cursor: pointer;
    box-shadow: 4px 0px 8px 0px rgba(0, 0, 0, 0.2);
}

.delete{
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 0px 8px 8px 8px;
    height: 0px;
    overflow: hidden;
    transition: height ease 0.3s
}

.delete.show{
    height: 60px
}

.card-delete input{
    padding: 6px;
    margin:4px;
    margin-top: 14px;
    margin-left: 24px;
    width: 45%;
}

.delete-button{
    background-color: rgb(218, 11, 11);
    margin-left:26px;
    margin-top: 5px;
    padding: 10px;
    padding-inline: 26px;
    color: white;
    cursor: pointer;
    border-radius: 6px;
}

.desafios{
    display: flex;
    flex-direction: column;
    box-shadow: 4px 0px 8px 0px rgba(0, 0, 0, 0.2);
    padding-bottom: 12px;
}

.desafios h4{
    margin-left: 10px;
    margin: 10px;
}

.toggle-logs{
    padding: 12px;
    padding-inline: 23px;
    background-color: rgb(141, 7, 141);
    color: white;
    border-radius: 8px 8px 0 0;
    margin-top: 5px;
    margin-left: 10px;
    cursor: pointer;
    box-shadow: 4px 0px 8px 0px rgba(0, 0, 0, 0.2);
}

.logs{
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 0px 8px 8px 8px;
    height: 0px;
    overflow: hidden;
    transition: height ease 0.3s
}

.logs.show{
    height: 125px
}

.logs input{
    padding: 6px;
    margin:4px;
    margin-top: 14px;
    margin-left: 24px;
    width: 45%;
}

.logs-button{
    background-color: rgb(141, 7, 141);
    margin-left:26px;
    margin-top: 5px;
    padding: 10px;
    padding-inline: 26px;
    color: white;
    cursor: pointer;
    border-radius: 6px;
}

.log-res{
    margin-top: 5px;
    display: flex;
}

.log-res p{
    font-weight: bold;
    margin-left: 30px;
}

.toggle-tema{
    padding: 12px;
    padding-inline: 23px;
    background-color: rgb(141, 7, 141);
    color: white;
    border-radius: 8px 8px 0 0;
    margin-top: 5px;
    margin-left: 10px;
    cursor: pointer;
    box-shadow: 4px 0px 8px 0px rgba(0, 0, 0, 0.2);
}

.tema{
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 0px 8px 8px 8px;
    height: 0px;
    overflow: hidden;
    transition: height ease 0.3s
}

.tema.show{
    height: 120px
}

.tema-button{
    background-color: rgb(141, 7, 141);
    margin-left:26px;
    margin-top: 5px;
    padding: 10px;
    padding-inline: 26px;
    color: white;
    cursor: pointer;
    border-radius: 6px;
}

.guide{
    margin-left: 25px;
}

.tema-res{
    margin-top: 5px;
    display: flex;
}

.tema-res p{
    font-weight: bold;
    margin-left: 30px;
}

.crud-grupo{
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 4px 0px 8px 0px rgba(0, 0, 0, 0.2);
    padding-bottom: 12px;
}

.crud-grupo h4{
    margin-left: 10px;
    margin: 10px;
}