@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&family=Nunito&display=swap');

body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

*:focus {
  outline: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main {
  width: 85%;
  height: 100%;
  font-family: 'Nunito', sans-serif;
}

h1{
  color: #ff6900;
  font-family: 'Mouse Memoirs', sans-serif;
  font-size: 2.1rem;
  margin: 1.5% 0 1%;
}

h5 {
  margin: 5% 0;
}

button {
  outline: 0;
  background: none;
  border: none;
}