.container{
  display: flex !important;
}

.div-flex {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 96%;
}

.div-feed {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 70%;
  height: 100vh;
}

.div-actions {
  display: flex;
  justify-content: space-between;
  height: 8%;
  margin: 2% 0;
}

.search-div {
  display: flex;
  width: 50%;
}

.input-div {
  display: flex;
  width: 90%;
  align-items: center;
  background-color: #fff;
  padding: 2%;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.input-div input {
  height: 80%;
  border: none;
  width: 97%;
}

.link-create-post {
  text-decoration: none;
  padding: 1% 4%;
  cursor: pointer;
  background-color: #670067;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: #fff;
  font-size: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  transition: ease-in-out .15s;
}

.link-create-post:hover {
  background-color: #570057;
}

.div-posts {
  background-color: #fff;
  width: 100%;
  height: 90%;
  margin: 2% auto;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}

.div-posts ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.div-post {
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 90%;
  padding: 3%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin: 3%;
}

.post-header {
  display: flex;
  justify-content: space-between;
}

.post-header a {
  display: flex;
  text-decoration: none;
  color: #727272;
  width: 90%;
} 

.post-header a div {
  margin-left: 2%;
  display: flex;
  line-height: 70%;
  flex-direction: column;
}

.post-header a div p {
  font-size: .7rem;
}

.img-user{
  min-width: 40px;
  max-width: 40px;
  max-height: 40px;;
  min-height: 40px;
  border-radius: 50%;
  font-size: 14px;
}

.post-content {
  font-size: .8rem;
  max-width: 95%;
  margin: 1% auto 0;
  text-justify: auto;
}


.post-footer {
  width: 100%;
  border-top: #ddd solid 2px;
}

.div-interacoes-post {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.div-total-likes {
  display: flex;
  margin: 0 3%;
  font-size: .8em;
  align-items: center;
}


.div-total-likes, .div-post-comments {
  display: flex;
  margin: 0 2%;
  font-size: .7em;
  align-items: center;
  width: 50%;
}

.div-post-comments {
  justify-content: flex-end;
}

.div-total-likes {
  justify-content: flex-start;
}

.div-total-likes a, .div-post-comments a {
  text-decoration: none;
  color:#727272;
  display: flex;
  align-items: center;
  width: 50%;
}

.div-post-comments a {
  justify-content: flex-end;
}

.total-likes-icon {
  margin-right: 2%;
  font-size: 18px;
}

.post-comments-icon {
  margin-left: 1%;
  font-size: 18px;
}

